.header-container {
    display: flex;
    align-items: center;
    height: 75px;
    background-color: #1d2d44;
}

.header-container-left {
    display: flex;
    padding-left: 20px;
}

@font-face {
    font-family: pokemonFont;
    src: url(/src/fonts/PokemonSolid.ttf) format("truetype");
}

.header-container-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    width: 400px;
    height: 75px;
    font-family: pokemonFont;
    letter-spacing: 2px;
    font-size: 20px;
    font-weight: lighter;
    padding-right: 20px;
    color: white;
}

.score {
    width: 100%;
}